@import "tailwindcss";

:root {
  --foreground: #0f172a; /* slate-900 vibe */
}

body {
  color: var(--foreground);
  background-color: #f6f7fb;
}

/* Google Font utility */
.font-inter {
  font-family: var(--font-inter), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
